/*  */

  
#frow{
    display: flex;
    flex-wrap: wrap;
  }
  
  #fcoll{
    flex: 1;
    margin-right: 100px; /* Adjust as needed */
     margin-left: 40px;
}
  
#eSavelabel{
    font-weight: bold;
  }
  
  #emesave{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  #emeStext{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  
  }
  #emeScategory{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;

  }
  #emSradio{
     width: 10%;
    padding: 8px;
  
  }
  
  #joinBtn {
    
    width: 10%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
  }
  .crbutton {
   
    display: flex;
    justify-content: flex-end; /* Moves button to the right */
    padding-right: 20px;
}

