.estore-container {
  font-family: 'Arial', sans-serif;
  background-color: #f8fafc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.welcome-container {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

.welcome-message {
  font-size: 2.5rem;
  color: #02353c;
}

.welcome-text {
  font-size: 1.2rem;
  color: #555;
} 